






.section-title{
    color: green;
    text-align: center;
}

.plan{
    background-color: #d5ffdc;
    text-align: center;
    padding: 16px;
    margin: 8px;
    width: 30%;
    display: inline-block;
    vertical-align: middle;
}

.plan__lists{
    width: 80%;
    margin: auto;
    text-align: center;
}

.plan--highlighted{
    background-color: rgb(42, 94, 42);
    color: white;
    box-shadow: 2px 2px 8px 2px rgba(0, 0, 0, 0.5);
}

#plan__annotation{
    background-color: white;
    color: green;
    padding: 5px 0;
    border-radius: 5px;
    box-shadow: 3px 3px 2px 3px rgba(0, 0, 0, 0.5);
}

.plan__title{
    color: rgb(90, 134, 90);
}

.plan--highlighted .plan__title{
    color: rgb(224, 207, 207);
}

.plan__price{
    color: gray;
}

.plan--highlighted .plan__price{
    color: black;
}

.plan__features{
    list-style: none;
    padding: 0;
    margin: 0;
}

.plan__feature{
    margin: 8px 0;
}




#key-features{
    background-color: rgb(255, 105, 163);
    margin-top: 80px;
}




#key-features .section-title {
    color: white;
    padding: 36px;
}

.key-features__list {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

.key-feature{
    display: inline-block;
    width: 30%;
    text-align: center;
}

.key-feature__description{
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}

.key-feature__image{
    width: 100px;
    height: 100px;
    background-color: white;
    border-radius: 50%;
    margin: auto;
}











